<a href="https://colab.research.google.com/github/SaurabhDubey-97/AppliedAi_Assignments/blob/main/Assignment0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q1 To print Multiplication Table

In [ ]:
def multiplicationtable(num):
  for i in range (11):
    print(" %d * %d = %d"% (num, i, (num *i)))
num = int(input( "Please Enter the number for Table : "))
multiplicationtable(num)

Please Enter the number for Table : 10
 10 * 0 = 0
 10 * 1 = 10
 10 * 2 = 20
 10 * 3 = 30
 10 * 4 = 40
 10 * 5 = 50
 10 * 6 = 60
 10 * 7 = 70
 10 * 8 = 80
 10 * 9 = 90
 10 * 10 = 100

  # Q2 Twin Primes < 1000

In [1]:

def isprime(odd):
  counter = 0
  twinprime = 0
  num = odd+2
  for i in range(2,odd):
    if(odd % i == 0 ): counter += 1
  if(counter == 0):
    twinprime +=1
  for j in range(2,num):
    if(num % j == 0 ): counter += 1
  if(counter == 0):
    twinprime +=1
  if(twinprime == 2):
    print(" ( %d, %d )" %(odd,num), end = ' ')


    

for i in range(3,1001):
  isprime(i)

 ( 3, 5 )  ( 5, 7 )  ( 11, 13 )  ( 17, 19 )  ( 29, 31 )  ( 41, 43 )  ( 59, 61 )  ( 71, 73 )  ( 101, 103 )  ( 107, 109 )  ( 137, 139 )  ( 149, 151 )  ( 179, 181 )  ( 191, 193 )  ( 197, 199 )  ( 227, 229 )  ( 239, 241 )  ( 269, 271 )  ( 281, 283 )  ( 311, 313 )  ( 347, 349 )  ( 419, 421 )  ( 431, 433 )  ( 461, 463 )  ( 521, 523 )  ( 569, 571 )  ( 599, 601 )  ( 617, 619 )  ( 641, 643 )  ( 659, 661 )  ( 809, 811 )  ( 821, 823 )  ( 827, 829 )  ( 857, 859 )  ( 881, 883 )

#Q3 Prime Factors of a Number

In [ ]:
def primefactor(number):
  for factor in range(2,number+1):
   
    while (number % factor == 0):
      number = number / factor
      print(factor) 
    
number = int(input(print( " Enter the number: ")))
primefactor(number)

 Enter the number:
56
2
2
2
7



# Q4 Permutation and Combination

In [ ]:
from functools import reduce
def fact(num):
  return 1 if num ==1 else (num* fact(num-1))
def permut(n,r):
  num = fact(n)
  den = fact(n-r)
  return num/den
def combination(n,r):
  num = permut(n,r)
  den = fact (r)
  return num/den

n = int(input(print( " Enter the number: ")))
r = int(input(print( " Enter the number: ")))


print("permutation of {0} and {1} = {2} ".format(n , r, permut(n,r)))
print("combination of {0} and {1} = {2} ".format(n , r, combination(n,r)))

 Enter the number:
12
 Enter the number:
4
permutation of 12 and 4 = 11880.0
combination of 12 and 4 = 495.0

# Q5 Decimal to Binary

In [ ]:
num = int(input("Enter the Decimal Number : "))
dec = []
for i in range(num,1,-1):

  while(num != 1):
    num = int(num / 2)
    dec.append(num % 2)
print(dec[::-1], end = '')

Enter the Decimal Number : 32
[1, 0, 0, 0, 0]

#Q6 Cubesum and Armstrong

In [ ]:
def cubesum(n):
  return 1 if n ==1 else (n**3)
def armstrong(num):
  ans = 0
  while(num > 0):
    n = num % 10
    num = num // 10
    print("{0} -> {1} ".format(n,cubesum(n)))
    ans = ans + cubesum(n)

  print("\n",isarmstrong(ans))
  
def isarmstrong(ans):
  return ans if (ans == num) else False

num = int(input("Enter the number: "))
armstrong(num)

Enter the number: 153
3 -> 27
5 -> 125
1 -> 1

 153

# Q7 ProdDigit

In [ ]:
def prodigit(num):
  ans = 1
  while(num > 0):
    n = num % 10
    num = num // 10
    ans = ans * n
  return ans
num = int(input ("Number : = "))
print("Prodogit = {0}".format(prodigit(num)))

Number : = 452
Prodogit = 40


# Q8 MDR and Mpersistance

In [ ]:
def prodigit(num):
  ans = 1
  while(num > 0):
    n = num % 10
    num = num // 10
    ans = ans * n
  return ans
def MDR(num):
  n = num
  count = 0
  while(n > 9):
    n = prodigit(n)
    count+=1
    print(n)
  print("The MDR is {0}".format(n))
  print("The Mpersistance is {0}".format(mpersistance(count)))
def mpersistance(count):
  return count
   
num  = int(input("Enter the Number : - "))
MDR(num)

Enter the Number : - 86
48
32
6
The MDR is 6
The Mpersistance is 3

# Q9 SumPDivisors

In [ ]:
def sumpdivisor(num):
  sum = 0
  for i in range(2,num+1):
    if(num % i == 0):
      n = num // i
      print(n,end = ' ')
      sum += n
  return sum
  
num = int(input("Enter the Number"))
print("Sum = {0}".format(sumpdivisor(num)))

Enter the Number265
53 5 1 Sum = 59

# Q10 Perfect Sum

In [ ]:
def perfect(num):
  sum = 0
  for i in range(2,num+1):
    if(num % i == 0):
      n = num // i
      print(n,end = ' ')
      sum += n
  return sum if (sum == num) else False
  
num = int(input("Enter the Number"))
print("Sum = {0}".format(perfect(num)))

Enter the Number32
16 8 4 2 1 Sum = False

#Q11  Amicable Number

In [ ]:
def sumpdivisor(num):
  sum = 0
  for i in range(2,num+1):
    if(num % i == 0):
      n = num // i
      #print(n,end = ' ')
      sum += n
  return sum


for i in range(100,10000):
  ans1 = sumpdivisor(i)
  if i == sumpdivisor(ans1):
    if(i!= ans1):
      print( i ,"and", ans1,"are amicable number")

220 and 284 are amicable number
284 and 220 are amicable number
1184 and 1210 are amicable number
1210 and 1184 are amicable number
2620 and 2924 are amicable number
2924 and 2620 are amicable number
5020 and 5564 are amicable number
5564 and 5020 are amicable number
6232 and 6368 are amicable number
6368 and 6232 are amicable number


#Q12 Filter Odd Number

In [ ]:
def odd(n):
  return True if (n%2 != 0) else False

lst = [1,2,3,4,5,5,6,7,8,9]
num = list(filter(odd,lst))
print(num)

[1, 3, 5, 5, 7, 9]

#Q13 Map Cube Number

In [ ]:
def cube(n):
  return n**3

lst = [2,3,4,5,6,7,8,9]
num = list(map(cube,lst))
print(num)

[8, 27, 64, 125, 216, 343, 512, 729]

# Q14 map and Filter even *cubes*

In [ ]:
def cube(n):
  return n**3 
def even(n):
  return True if(n%2 == 0) else False

lst = [1,2,3,4,5,6,8,9]
even = list(filter(lambda x: x%2==0, lst))
num = list(map(lambda x: x**3 ,even))
print(num)

[8, 64, 216, 512]